<div class="container mt-4">
    <app-entity-creation (entityCreated)="loadEntities()"></app-entity-creation>

    <!-- Entities Table -->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entity of entities">
                    <td>{{formatId(entity.id)}}</td>
                    <td>
                        <ng-container *ngIf="!entity.editing">
                            {{entity.name}}
                        </ng-container>
                        <input *ngIf="entity.editing" type="text" class="form-control" [(ngModel)]="entity.name">
                    </td>
                    <td>
                        <div class="btn-group">
                            <ng-container *ngIf="!entity.editing">
                                <button class="btn btn-sm btn-primary me-2" (click)="startEdit(entity)">
                                    Edit
                                </button>
                                <button class="btn btn-sm btn-danger" (click)="deleteEntity(entity)">
                                    Delete
                                </button>
                            </ng-container>
                            <ng-container *ngIf="entity.editing">
                                <button class="btn btn-sm btn-success me-2"
                                    (click)="updateEntity(entity); entity.editing = false">
                                    Save
                                </button>
                                <button class="btn btn-sm btn-secondary" (click)="cancelEdit(entity)">
                                    Cancel
                                </button>
                            </ng-container>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="entities.length === 0">
                    <td colspan="3" class="text-center">No entities found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>